/* Tivia Game Stylesheet */

/*  COLORS
d42c38 : BG
fff5ff : white question container
2c1e1f : dark answer container
d42c38 : red header text
2ecd71 : green answer
d42c38 : red answer
*/

/* GLOBAL STYLES ----------------------------------*/

* {
    box-sizing: border-box;
}

:root {
    --site-width: 420px;
    --white: #fff5ff;
    --dark: #2c1e1f;
    --green: #2ecd71;
    --red: #d42c38;
}

.html, body {
    font-family: 'Robot', sans-serif;
    font-size: 16px;
    color: #282828;
}

h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Wrapper ----------------------------------*/

#wrapper {
    background-color: #d42c38;
    overflow: hidden;
    height: 100vh;
}


/* Box Styles ----------------------------------*/

.round-box {
    width: var(--site-width);
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}

.center {
    text-align: center;
}


/*  MAIN CONTAINERS ----------------------------------*/

#container-welcome {
    font-size: 18px;
    margin-top: 200px;
    margin-bottom: 20px;
    line-height: 24px;
}


#container-time-remaining {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 40px;
    background-color: var(--white);
}

#container-question {
    margin-top: 20px;
    height: 220px;
    background-color: var(--white);
}

#container-question > h2 {
    font-size: 16;
    font-weight: 700;
    color: var(--red);
}

#question-display {
    display: flex;
    align-items: center;
    height: 95%;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-size: 24px;
}

#container-message-hud {
    width: calc(var(--site-width) - 20px);
    background-color: var(--dark);
    color: var(--white);
    text-align: center;
    margin-top: 5px;
}

#container-answers {
    background-color: var(--dark);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: calc(var(--site-width) - 20px);
    height: 125px;
    text-align: center;
    padding-top: 20px;
}


/* CELLS  ----------------------------------*/

#cell-time-display {
    font-weight: 600;
    background-color: #d42c38;
    width: 60px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    line-height: 32px;
    color: #fde3e3;
}

.cell-answers {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    width: 177px;
    text-align: left;
    color: var(--white);
    font-weight: 600;
}

.cell-answers > p {
    display: inline;
    cursor: pointer;
}


/* BUTTONS ----------------------------------*/

button {
    border: 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    width: 160px;
    background-color: var(--white);
    box-shadow: inset 0 -14px 1px -10px #c9c1c1;
}

button:hover {
    background-color: var(--dark);
    color: var(--white);
    box-shadow: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}


/* Input: Radio Buttons ----------------------------------*/

input[type="radio"] {
    border: none;
    background-color: var(--white);
    width: 20px;
    height: 20px;
    float: left;
    margin-top: -3px;
}


/* Animation Setup ---------------------------------- */

.animate-drop-div {
	-webkit-animation: animate-drop-div 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: animate-drop-div 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.animate-swing-in {
	-webkit-animation: animate-swing-in 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: animate-swing-in 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}


@-webkit-keyframes animate-drop-div {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  @keyframes animate-drop-div {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }

  @-webkit-keyframes animate-swing-in {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }


  @keyframes animate-swing-in {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }